<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="oyourname" />
    <meta name="description" content="layout page for forms" />
    <title>@Page.Title</title>
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
