<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="oyourname" />
    <meta name="description" content="layout page for forms" />
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("head", required: false)
</head>
<body>
    <nav></nav>
    @RenderBody()
</body>
</html>
