@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Welcome To The DemO!!!!!!!!!!!!!!!";
}

@section banner{
    <h1>Razor Syntax Demo</h1>
    }

<h2>The cat with the shifty eyes</h2>

<div class="cat-one blink">
   |\_._/|
   | o o |
   (  T  )
  .^`-^-'^.
  `.  ;  .'
  | | | | |
 ((_((|))_))
</div>



<div class="cat-two blink">
  |\__/,|
  |o o  |
  ( T   )
 .^`^--'^.
 `.  ;  .'
 | | | | |
((_((|))_))
</div>



<div class="cat-three blink">
  |,\__/|
  |  o o|
  (   T )
 .^`--^'^.
 `.  ;  .'
 | | | | |
((_((|))_))
</div>



<div class="cat-four blink">
  |\_._/|
  | 0 0 |
  (  T  )
 .^`-^-'^.
 `.  ;  .'
 | | | | |
((_((|))_))
</div>
