@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Dropdown List";
    var choice = Request.Form["CodingSamplePage"];
}

@section banner{
<h1>Razor Syntax Demo - Dropdown List (Select Tag)</h1>
}

@if(IsPost)
{
    switch (choice.ToUpper())
    {
        case "TEXTBOXES":
            Response.Redirect("Textboxes.cshtml");
            break;

        case "RADIOBUTTONS":
            Response.Redirect("radiobuttons.cshtml");
            break;

        case "CHECKBOXES":
            Response.Redirect("checkboxes.cshtml");
            break;

        default:
            <p>Please Input a Selection</p>
            break;
    }

}
<form id="theform" method="post">
    <div class="row">
        <div class="col-sm-offset-1">
            <label id="labelOne" for="CodingSamplePage">Select the sample to view:</label>&nbsp;&nbsp;
            <!--The Dropdown List is a set of 2 tags. the control is the <select> tag, and the contents are the <option> tag.
    You can have several different option tags, each representing a line item. (li) in the control
    the option tag has two components: value (which is hidden) and a visible text string-->
            <select id="CodingSamplePage" name="CodingSamplePage">
                <option value="">Please Make a Selection</option>
                <option value="textBoxes">Text Boxes</option>
                <option value="radioButtons">Radio Buttons</option>
                <option value="checkBoxes">Check Boxes</option>
            </select>&nbsp;&nbsp;
             <div class="col-sm-offset-1">
                 <input type="submit" class="btn-primary" id="formButton" name="formButton" value="submit" />
              
            </div>
        </div>
</form>