@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Dropdown List";
}

@section banner{
<h1>Razor Syntax Demo - Dropdown List (Select Tag)</h1>
}

<form id="theform" method="post">
    <div class="row">
        <div class="col-sm-offset-1">
            <label id="labelOne" for="CodingSamplePage">Select the sample to view:</label>&nbsp;&nbsp;
            <!--The Dropdown List is a set of 2 tags. the control is the <select> tag, and the contents are the <option> tag-->
        </div>
    </div>
</form>